{% extends "layout.html" %}
{% block body %}
<h1>Guestbook!</h1>

{% with logged_in = session['logged_in'] %}
{% if logged_in %}<form action="/moderate" method="POST">{% endif %}
{% for name, date, entry in entries %}
<p>{{ entry }}</p>
<p>&mdash;<em>{{ name }}</em> on {{ date }}</p>
{% if logged_in -%}
  <p>
    {% with name = "remove_%d" % loop.index0 -%}
    <input type="checkbox" id="{{ name }}" name="{{ name }}" value="yes">
    <label for="{{ name }}">Remove this entry</label>
    {%- endwith %}
  </p>
{%- endif %}
<hr>
{% endfor %}
{% if logged_in %}</form>{% endif %}
{% endwith %}

<form action="/submit" method="POST">
  <p>Submit an entry!</p>
  <p><label for="name">Your name</label> <input type="text" name="name"></p>
  <textarea name="entry" rows="10" cols="80"></textarea>
  <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
